extends layout.pug

block content 
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1.text-light.font-righteous Lindsey
        p.lead.text-light.font-righteous
          | Full Stack Web Developer

        .portfolio-bio
          p.text-light
            | Based in Raleigh, NC | Introvert | Canine Lover
            br
            br
            | Non-fiction book reading, mountain climbing, avid researching girl born in the country.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6.text-light.font-righteous Skills

        ul
          li Express
          li JavaScript
          li Node
          li React
          li & React Native 
          li MongoDB
          li PostgreSQL
        h6.text-light.font-righteous Contact Info

        ul
          li 919.417.9901
          li codelikeagirl91@gmail.com

        a.button.expanded(href='https://www.lindseyk.dev') Website
        a.button.expanded(href='https://www.linkedin.com/in/lindsey-howard/') LinkedIn
        a.button.expanded(href='https://github.com/codelikeagirl29') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back