extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Lindsey

        //- Feel free to personalize the title below
        p Full Stack Web Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p | Based in Raleigh, NC | Introvert | Canine Lover
            br
            br
            | Non-fiction book reading, mountain climbing, avid researching girl born in the country.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li React.js
          li HTML/CSS
          li JavaScript
          li Git and GitHub
          li React Native
          li Expo
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 919.417.9901
          li codelikeagirl91@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/lindsey-howard/') LinkedIn
        a.btn-link(href='https://www.github.com/codelikeagirl29/') GitHub
        a.btn-link(href='https://www.twitter.com/dev_lindseyk') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back