extends layout

block content 
  article.grid-container.portfolio-intro
    div
      h1 My Projects
      p.lead.text-light
        | Frontend Developer with a creative side, with several years of experience in coding, software architecture, & project management. My technical skills are complemented by a rich history in sales, having worked for several years in a sales capacity.
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            if project.image_urls[0].landing
              img.thumbnail(src=project.image_urls[0].url alt=`Project-${project.id}`)
            h5=project.project_name
