extends layout.pug

block content
  article.grid-container.portfolio-intro
    div


      h1  My Projects


      p.lead.text-light
        | Dynamic Full Stack Developer based in Fort Walton Beach, FL. Ambitious coding boot camp grad with extensive background in various programming languages, developing mobile applications, and building websites from the ground up.
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name
